<%- include('header'); -%>

    <header>
        <div class="container-fluid mb-2 " style="background-color: rgb(190, 172, 209);">
            <div class="col-sm-8 mx-auto text-center p-1">

                <p class="lead ">This is the testing page for Query list</p>
            </div>
        </div>
    </header>

    <main>
        <div class="container-fluid">
            <h4 style="font-weight: 600; color: rgb(94, 37, 121)">
                <%= title %>
            </h4>
            <hr>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Enquiry</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>phone</th>
                        <th>orderNumber(if any)</th>
                        <th>message</th>
                        <th>Query Date</th>
                    </tr>
                </thead>
                <tbody>
                    
                        <tr>
                            <td>
                                <%= result._id %>
                            </td>
                            <td>
                                <%= result.enquiryType %>
                            </td>
                            <td>
                                <%= result.name %>
                            </td>
                            <td>
                                <%= result.email %>
                            </td>
                            <td>
                                <%= result.phone %>
                            </td>
                            <td>
                                <%= result.orderNumber %>
                            </td>
                            <td>
                                <%= result.message %>
                            </td>
                            <td>
                                <%= result.created_date_formatted %>
                            </td>
                        </tr>
                       
                </tbody>
            </table>
            <br>

            <a href="/retrieveQuery">return to the Retrieve Query Page</a>

        </div> <br>
    </main>

    <%- include('footer'); -%>